@using Domain.AutoShop
@model IEnumerable<Auto>

@{
    ViewBag.Title = "Автомагазины";
}

@foreach (Auto auto in Model)
{

    <div>
        <h3>@auto.NAME - @auto.CITY</h3>
        <p>@auto.ADRESS</p>
        <h4>@auto.TELEPHONE</h4>
        <h4>@auto.SITE</h4>
        <p><a class="btn btn-default" href="/Services" style="color:#ffffff">Перейти &raquo;</a></p>
    </div>
    <hr />
}