@model Domain.AutoShop.Auto

<div class="well">
    <div class="row">
        <div class="col-xs-10">
            <h3>
                <strong>@Model.NAME</strong>
            </h3>
            <h4>
                <strong>@Model.CITY</strong>
            </h4>
        </div>
        <div class="col-xs-2">
            <h3>
                <strong id="price" class="pull-right label label-primary">
                    @Model.TELEPHONE
                </strong>
            </h3>
            @using (Html.BeginForm("AddToAuto", "AutoSkoda"))
            {
                <div class="pull-right">
                    @Html.HiddenFor(x => x.Id)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="btn btn-success" value="Перейти" />
                </div>
            }
        </div>
    </div>
    <span class="lead">@Model.SITE</span>
</div>