@using WebUl.Models
@using WebUl.HtmlHelpers
@model PorsheListViewModel
@{
    ViewBag.Title = "Porshe";
}
<div>
    <h3>PORSHE:</h3>
    <table>
        <tr>
            <th>
                Название
            </th>

            <th>
                Модель
            </th>

            <th>
                цена
            </th>

        </tr>
        @foreach (var p in @Model.Porshe)
            {
            <tr>
                <td><p>@p.Name </p></td>
                <td><p>@p.Model</p></td>
                <td><p>@p.Price.ToString("# руб")
            </tr>
        }
    </table>
</div>
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
    <a href="@Url.Action("Index","Home")"><h4>Главная</h4></a>
</div>